body {
  margin: 0;
  background-color: #2a2a2a;
  padding: 10px;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.logo {
  display: flex;
  margin-left: auto;
  font-family: IBM Plex Mono;
  font-size: xxx-large;
}

.logo-upper {
  color: #007bff;
}

.logo-lower {
  color: #ffffff;
}

.logo-upper,
.logo-lower {
  display: block;
}

button {
  display: inline-flex;
  margin-left: 20px;
  height: auto;
  width: auto;
  padding: 5px;
  font-family: IBM Plex Mono;
  font-weight: bold;
  color: #ffffff;
  background-color: #7bb661;
  cursor: pointer;
}

.kanban {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex: 1;
  height: auto;
  background-color: #1e1e1e;
  min-height: 60vh;
  border-radius: 10px;
}

.column {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  padding: 12px;
  font-family: IBM Plex Mono;
  color: #007bff;
  gap: 1rem;
}

dialog {
  width: 50%;
  height: 400px;
  position: relative;
  border: 0px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #1e263a;
  font-family: IBM Plex Mono;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field {
  width: 95%;
  margin: 10px 0;
}

.field:last-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 0px;
}

.title {
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  font-family: IBM Plex Mono;
  color: #ffffff;
  background: #181e2d;
}

.description {
  width: 100%;
  font-family: IBM Plex Mono;
  color: #ffffff;
  background: #181e2d;
}

.save-button {
  height: auto;
  width: auto;
  padding: 5px;
  font-family: IBM Plex Mono;
  font-weight: bold;
  color: #ffffff;
  background-color: #7bb661;
  cursor: pointer;
}

.status-picklist {
  cursor: pointer;
  font-family: IBM Plex Mono;
  color: #ffffff;
  background-color: #181e2d;
}

.task {
  width: 50%;
  height: 400px;
  position: relative;
  border: 0px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #1e263a;
  font-family: IBM Plex Mono;
}
